<!DOCTYPE html>
<html>
  <head>
    <title>Treble Clef</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
  </head>
  <body>
    <header>
      <div id="leftHeader">
        <a href="{{ url_for('home') }}">
          <img src="{{ url_for('static', filename='images/misc/treble-clef-logo.jpg') }}" alt="Treble Clef logo">
        </a>
      </div>

      <div id="midHeader">
        <form id="searchBoxForm" action="{{ url_for('search') }}" method="post">
          <input id="searchBox" type="text" placeholder="Book Title Search" name="search">
          <input id="searchIcon" type="image" src="{{ url_for('static', filename='images/misc/search-icon.png') }}" alt="search icon">
        </form>

        <div class="dropdown">
          <p class="dropdownSelect">Select Category</p>
          <div class="dropdownContent">
            {% for category in categories %}
              <p>
                <a href="{{ url_for('category', categoryId=category.categoryId) }}">
                  {{ category.categoryName }}
                </a>
              </p>
            {% endfor %}
          </div>
        </div>
      </div>

      <div id="rightHeader">
        <div id="cartIcon">
          <a href="#">
            <img src="{{ url_for('static', filename='images/misc/cart-icon.jpg') }}" alt="shopping cart icon" onerror="this.style.display='none'">
          </a>
        </div>
        <div id="cartCount">0 items</div>
        <div class="loginButton"><a href="#">login</a></div>
        <div class="loginButton">
          <a href="{{ url_for('add_book') }}">Add Book</a>
        </div>
        <div class="loginButton">
          <a href="{{ url_for('books_by_author') }}">By Author</a>
        </div>
      </div>

     
    </header>

    <main>{% block container %}{% endblock %}</main>

    <footer>
      <div id="footerLeft">
        <p>The Treble Clef</p>
        <p>&copy;</p>
        <a href="#">Contact Us</a>
        <a href="#">Directions</a>
      </div>
      <div id="footerRight">
        <a href="#"><img src="{{ url_for('static', filename='images/misc/facebook-icon.jpg') }}" alt="Facebook"></a>
        <a href="#"><img src="{{ url_for('static', filename='images/misc/twitter-icon.jpg') }}" alt="Twitter"></a>
      </div>
    </footer>
  </body>
</html>
